@tailwind base;
@tailwind components;
@tailwind utilities;

.upload-label {
  @apply relative outline-none cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500;
}

@layer components {
  .container {
    min-height: 760px;
    height: 100vh;
  }
  .frame {
    @apply bg-sky-500/[.06];
    background-image: url(../public/images/Frame_Facebook_YEPEst2021-03.png);
    background-size: contain;
    pointer-events: none;
    z-index: 11;
  }
  .rs-frame{
    @apply bg-sky-500/[.06];
    background-image: url(../public/images/Frame_Facebook_YEPEst2021-05.png);
    background-size: contain;
    pointer-events: none;
    z-index: 11;
  }
  .sample-canvas {
    z-index: 10;
  }
}

input[type='radio'] + label span {
  transition: background 0.2s, transform 0.2s;
}

input[type='radio'] + label span:hover,
input[type='radio'] + label:hover span {
  transform: scale(1.2);
}

input[type='radio']:checked + label span {
  background-color: rgb(109 39 217);
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type='radio']:checked + label {
  color: rgb(109 39 217);
}
