@tailwind base;
@tailwind components;
@tailwind utilities;

.upload-label {
  @apply relative outline-none cursor-pointer bg-white rounded-md font-medium text-indigo-600 hover:text-indigo-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500;
}

@layer components {
  .frame {
    @apply w-480 h-480 bg-sky-500/[.06];
    background-image: url(../public/images/Frame_Facebook_YEPEst2021-03.png);
    background-size: contain;
    pointer-events: none;
    z-index: 11;
  }
  .sample-canvas {
    @apply w-480 h-480;
    z-index: 10;
  }
}
